<div class='bottom'>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img class="mclogo" src="https://event.ygobbs.com/Public/img/mycardlogo.png">
      <span class="fs-4">MyCard | 排表器</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let menu of menus" class="nav-item">
        <a href="#" class="nav-link" routerLinkActive="active link-dark" [routerLink]="'/' + menu.path" aria-current="page">
          {{menu.title}}
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <img *ngIf="userInfo.user" [src]="userInfo.user!.avatar_url" alt="" class="rounded-circle me-2" width="32" height="32">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
         data-bs-toggle="dropdown" aria-expanded="false">
        <strong>{{userInfo.user?.name || '未登录'}}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUserNotLoggedIn" *ngIf="!userInfo.user">
        <li><a class="dropdown-item" (click)="userInfo.login()">登录</a></li>
      </ul>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUserLoggedIn" *ngIf="userInfo.user">
        <!--li><a class="dropdown-item" routerLink="/user-info/self">个人资料</a></li>
        <li><a class="dropdown-item" routerLink="/user-center/change-password">修改密码</a></li>
        <li>
          <hr class="dropdown-divider">
        </li-->
        <li><a class="dropdown-item" (click)="userInfo.logout()">登出</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="main container">
      <router-outlet></router-outlet>
    </div>
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    <footer>
      <p>&copy; 2022 <a>MyCard</a>
    </footer>
  </div>
</div>


